body {
    display: flex;
    flex-direction: column;
    margin: 0
}

.head {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;

}


.img-txt {
    display: flex;
    justify-content: space-around;
    color: #E5E7EB;
}

.head-txt {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}

.img1 {
    width: 250px;
    height: 150px;
    margin-bottom: 50px;
    border-radius: 30px;
    border: solid white;
}

.ul-head {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 0px;

}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.li-txt {
    display: flex;
    gap: 10px;
    padding-right: 150px;
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    padding-left: 140px;
    font-size: 24px;
    
}

.logo-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid;

}

.head-title {
    font-size: 48px;
    font-weight: bold;
}

.botton {
    background-color: #3882F6;
    border-radius: 12px;
    width: 100px;
    height: 33px;
    font-size: 18px;
    color: #E5E7EB;
}



/* section 2 */


.mid-sec {

    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.img2 {
    width: 150px;
    height: 100px;
}

.img-txt2 {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 30px;
}

.mid-title {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-weight: bold;
    font-size: 36px;
}

.coins {
    width: 150px;
    height: auto;

}

.coins-txt {
    text-align: center;
    font-size: 12px;
}

/* sec 3 */

.sec-3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
}


.sec3-txt {
    width: 700px;
    margin: 0 auto;
    font-size: 36px;
    color: #1F2937;
    padding-top: 50px;
}


.autor {
    display: flex;
    justify-content:flex-end;
    width: 970px;
    padding: 20px 0px 50px;
    font-weight: 1000;
}


/*  sec 4 */


.bottom {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 700px;
    height: 150px;
    border-radius: 20px;
    background-color: #3882f6;
}

.bitton2 {
    border-radius: 12px;
    background-color: #3882F6;
    width: 80px;
    height: 33px;
    box-sizing:border-box;
    color: wheat;
    border: 2px solid;

}

.bottom-txt {
    display: flex;
    flex-direction: column;
    max-width: 272px;
    height: auto;
    gap: 10px;
}

.bottom-txt1 {
    font-weight: bold;
    color: white;
}


.bottom-txt2 {
    color: white;
}